$spacing: 2rem;
$text-max-width: 750px;

$border-radius-weak: 10px;
$border-radius-strong: 50px;

$box-shadow-weak: 0 4px 12px rgba(0, 0, 0, 0.08);
$box-shadow-strong: 0 16px 48px rgba(0, 0, 0, 0.08);

$black: hsl(210, 11%, 15%);
$primary: hsl(254, 41%, 64%);
$primary-light: hsl(252, 100%, 98%);
$primary-dark: hsl(254, 41%, 34%);

// grays (from tailwind)
$gray-50: #FAFAFA;
$gray-100: #F4F4F5;
$gray-200: #E4E4E7;
$gray-300: #D4D4D8;
$gray-400: #A1A1AA;
$gray-500: #71717A;
$gray-600: #52525B;
$gray-700: #3F3F46;
$gray-800: #27272A;
$gray-900: #18181B;

// political colors
$pol-brown: hsl(37, 64%, 45%);
$pol-blue: rgb(52, 163, 210);
$pol-orange: hsl(28, 97%, 48%);
$pol-yellow: rgb(246, 187, 0);
$pol-black: rgb(55, 55, 55);
$pol-red: rgb(219, 66, 64);
$pol-gray: #64748B;
$pol-green: rgb(75, 163, 69);
$pol-purple: rgb(150, 39, 110);

$pol-brown-light: mix($pol-brown, white, 35);
$pol-blue-light: mix($pol-blue, white, 35);
$pol-orange-light: mix($pol-orange, white, 35);
$pol-yellow-light: mix($pol-yellow, white, 35);
$pol-black-light: mix($pol-black, white, 35);
$pol-red-light: mix($pol-red, white, 35);
$pol-gray-light: mix($pol-gray, white, 35);
$pol-green-light: mix($pol-green, white, 35);
$pol-purple-light: mix($pol-purple, white, 35);

// breakpoints
$bp-2sm: 425px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1538px;

@mixin max-width($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}

:export {
  black: $black;
  
  gray50: $gray-50;
  gray100: $gray-100;
  gray200: $gray-200;
  gray300: $gray-300;
  gray400: $gray-400;
  gray500: $gray-500;
  gray600: $gray-600;
  gray700: $gray-700;
  gray800: $gray-800;
  gray900: $gray-900;
  
  polBrown: $pol-brown;
  polBrownLight: $pol-brown-light;
  polBlue: $pol-blue;
  polBlueLight: $pol-blue-light;
  polOrange: $pol-orange;
  polOrangeLight: $pol-orange-light;
  polYellow: $pol-yellow;
  polYellowLight: $pol-yellow-light;
  polBlack: $pol-black;
  polBlackLight: $pol-black-light;
  polRed: $pol-red;
  polRedLight: $pol-red-light;
  polGray: $pol-gray;
  polGrayLight: $pol-gray-light;
  polGreen: $pol-green;
  polGreenLight: $pol-green-light;
  polPurple: $pol-purple;
  polPurpleLight: $pol-purple-light;
}
