:root {
  --spacing: 2rem;
  --popup-offset: calc(var(--spacing) * 2);
  --popup-width: calc(100vw - 4 * var(--popup-offset));
  --popup-height: calc(100vh - var(--popup-offset));
  
  --black: hsl(210 11% 15%);
  --primary: hsl(254 41% 64%);
  --primary-light: hsl(252 100% 98%);
}

html {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
