@import 'global';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Raleway&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

a {
  color: $primary-dark;
  text-underline-offset: 4px;
}
